{% extends 'base.html.twig' %}

{% block title %}Edit FactureDon{% endblock %}

{% block body %}
    <h1>Edit FactureDon</h1>

    {{ include('facturedonback/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_facturedonback_index') }}">back to list</a>

    {{ include('facturedonback/_delete_form.html.twig') }}
{% endblock %}
