{% extends 'back/Base-back.html.twig' %}
{% block dashboard %}
{% block title %}Edit FactureDon{% endblock %}

{% block body %}
    <div style="max-width: 600px; margin: 0 auto;">
        <h1 style="text-align: center; margin-bottom: 20px;">Edit FactureDon</h1>

        <div style="margin-bottom: 20px;">
            {{ include('facture_don/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

        <div style="text-align: center; margin-bottom: 20px;">
            <a href="{{ path('app_facture_don_index') }}" style="text-decoration: none; color: #007bff;">Back to List</a>
        </div>

        {{ include('facture_don/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% endblock %}