{% extends 'sign/signin.html.twig' %}

{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Floreo</title>
        <link rel="stylesheet" href="{{ asset('Front/css/style.css') }}">
        <style>
            body {
                background-image: url('{{ asset('Front/img/auth.jpg') }}');
                background-size: cover;
                background-position: center;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .container {
                background-color: rgba(255, 255, 255, 0.8); /* Ajoute une couleur de fond semi-transparente */
                padding: 20px;
                border-radius: 10px;
            }
            form {
                text-align: center;
            }
            input[type="text"],
            input[type="password"],
            button {
                width: 100%;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
            button {
                background-color: #70952b;
                color: white;
                font-weight: bold;
                cursor: pointer;
            }
            a {
                display: block; /* Affiche chaque lien sur une nouvelle ligne */
                margin-top: 10px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <section id="content">
                <form method="post" action="{{ path('app_login') }}">
                    <h1 class="text-center mb-4" style="color:#433e5b">Login Form</h1>
                    <div>
                        <input type="text" placeholder="Email" required="" id="email" name="email" />
                    </div>
                    <div>
                        <input type="password" placeholder="Password" required="" id="password" name="password" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <button type="submit">Login In</button>
                    <a href="/forgot">Lost your password?</a>
                    <a href="/register">Register</a>
                </form><!-- form -->
            </section><!-- content -->
        </div><!-- container -->
    </body>
    </html>
{% endblock %}
