{% extends 'base.html.twig' %}

{% block title %}ReservationDechets{% endblock %}

{% block body %}
    <h1>Create new ReservationDechets</h1>

    {{ include('reservation_dechets/_form.html.twig') }}

    <a href="{{ path('app_reservation_dechets_index') }}">back to list</a>
{% endblock %}
