{% extends 'back/Base-back.html.twig' %}
{% block back %}
{% block title %}Edit Dechets{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Edit Dechets</h4>
                </div>
                <div class="card-body">
                    {{ include('dechets/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <div class="card-footer">
                    <a href="{{ path('app_dechets_index') }}" class="btn btn-outline-secondary">Back to list</a>
                    {{ include('dechets/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% endblock %}
